/* Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Quicksand', sans-serif; }

ul {
  list-style: none; }

li {
  list-style: none; }

img {
  display: block;
  margin: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

body, html {
  overflow-x: hidden;
  overflow-y: hidden; }

body, html {
  height: 100%; }

#game-canvas {
  display: block;
  background-color: black;
  margin: 0 auto;
  vertical-align: middle; }

h1 {
  margin: 0;
  display: block;
  color: black;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  margin-top: 5px; }

h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold; }

.LinkedIn {
  display: none; }

.Github {
  display: none; }

#start-screen h2 {
  top: 18px; }

#start-screen .info {
  position: relative;
  width: 200px;
  top: 10px;
  left: 50px;
  font-family: 'Quicksand', sans-serif; }

#start-screen .body-control {
  top: 14px;
  position: relative;
  font-family: 'Quicksand', sans-serif; }

#start-screen .controls-info {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  top: 13px; }

#start-screen .control-list {
  position: relative;
  bottom: 5px; }

#pause-screen h2 {
  top: 100px; }

#pause-screen .body-control {
  top: 93px;
  position: relative;
  font-family: 'Quicksand', sans-serif; }

#pause-screen h3 {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  top: 95px; }

#pause-screen .hint {
  position: relative;
  width: 200px;
  top: 78px;
  left: 56px;
  font-family: 'Quicksand', sans-serif; }

#game-won h2 {
  top: 100px; }

#game-won .body-control {
  top: 93px;
  position: relative;
  font-family: 'Quicksand', sans-serif; }

#game-won .hint {
  position: relative;
  width: 200px;
  top: 123px;
  left: 56px;
  font-family: 'Quicksand', sans-serif; }

.back-shadow {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .5; }

.white-screen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: white; }

.modal {
  top: calc(50vh - 200px);
  left: calc(50vw - 150px);
  position: fixed;
  width: 310px;
  height: 310px;
  background-color: #FFE041;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid white;
  border-radius: 100%; }

.control-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.title-text {
  position: relative;
  cursor: default;
  top: 25px;
  font-size: 37px;
  font-family: 'Quicksand', sans-serif; }

.list-info {
  font-family: 'Quicksand', sans-serif; }

/*# sourceMappingURL=style.css.map*/