/* Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Quicksand', sans-serif; }

ul {
  list-style: none; }

li {
  list-style: none; }

img {
  display: block;
  margin: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

body, html {
  overflow-x: hidden;
  overflow-y: hidden; }

body, html {
  height: 100%; }

#game-canvas {
  display: block;
  background-color: black;
  margin: 0 auto;
  vertical-align: middle; }

h1 {
  margin: 0;
  display: block;
  color: black;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-top: 5px; }

h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold; }

.header-nav {
  background-color: #FFE041;
  display: flex;
  width: 100%;
  min-width: 400px; }
  .header-nav #title {
    padding: 0 0 0 60px;
    width: 100%;
    display: flex;
    justify-content: center; }
  .header-nav .linkedin, .header-nav .github {
    cursor: pointer;
    display: flex;
    float: right;
    margin-top: 5px;
    padding: 0 10px 0 5px; }
    .header-nav .linkedin:hover, .header-nav .github:hover {
      color: #fff; }

#start-screen h2 {
  top: 18px; }

#start-screen .info {
  position: relative;
  width: 200px;
  top: 10px;
  left: 50px;
  font-family: 'Quicksand', sans-serif;
  font-style: italic; }

#start-screen .continue-control {
  top: 24px;
  position: relative;
  font-family: 'Quicksand', sans-serif; }

#start-screen .controls-info {
  font-style: normal;
  margin: 0px;
  position: relative;
  font-family: 'Quicksand', sans-serif; }

#start-screen .control-list {
  font-style: italic;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

#pause-screen h2 {
  top: 86px; }

#pause-screen .continue-control {
  top: 93px;
  position: relative;
  font-family: 'Quicksand', sans-serif; }

#pause-screen h3 {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  top: 95px; }

#pause-screen .hint {
  position: relative;
  width: 200px;
  top: 78px;
  left: 56px;
  font-family: 'Quicksand', sans-serif;
  font-style: italic; }

#game-won h2 {
  top: 74px; }

#game-won .continue-control {
  top: 93px;
  position: relative;
  font-family: 'Quicksand', sans-serif; }

#game-won .hint {
  position: relative;
  width: 200px;
  top: 123px;
  left: 56px;
  font-family: 'Quicksand', sans-serif;
  font-style: italic; }

.back-shadow {
  position: fixed;
  top: 29px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .5; }

.white-screen {
  position: fixed;
  top: 29px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: white; }

.modal {
  top: calc(50vh - 200px);
  left: calc(50vw - 150px);
  position: fixed;
  width: 310px;
  height: 310px;
  background-color: #FFE041;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: inset 0px 0px 30px #FFF; }

.level-circle {
  position: fixed;
  background-color: #FFE041;
  border-radius: 100%;
  border: 2px solid white;
  text-align: center;
  box-shadow: inset 0px 0px 30px #FFF; }

.one {
  width: 70px;
  height: 70px;
  top: calc(50vh - 200px);
  line-height: 70px; }

.two {
  width: 60px;
  height: 60px;
  top: calc(50vh - 230px);
  left: calc(50vw + 120px);
  line-height: 60px; }

.three {
  width: 50px;
  height: 50px;
  top: calc(50vh + 120px);
  right: calc(50vw - 90px);
  line-height: 50px; }

.title-text {
  position: relative;
  cursor: default;
  top: 25px;
  font-size: 37px;
  font-family: 'Quicksand', sans-serif; }

/*# sourceMappingURL=style.css.map*/